@import '../../../../../common.styl';

.row {
  min-height: 64px;
  display: flex;
  justify-content: space-around;

  div {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:last-child div {
    width: 100%;
  }

  p {
    color: $primary;
    text-align: center;
    width: 110px;
  }
}

.orderNumber {
  font-weight: 500;
  color: $primary-dark;

  a {
    text-decoration: none;
    color: $primary;
  }
}